@charset "utf-8";
/* CSS Document */

body { font-family:"微软雅黑"; margin:0; padding:0; background:#ffffff;width: 100%}
div,form,img,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img{ margin:0; padding:0; border:0; font-weight:normal; font-size:12px;}
img{ border:none; vertical-align:middle;}
ul,li{ list-style-type: none; }
button{ vertical-align:middle; cursor:pointer;}
input, button{	vertical-align:middle; border:none; font-family:"微软雅黑";}
.clear { clear:both; overflow:hidden; height:0px;}
.blank{ display:block; height:10px; clear:both; overflow:hidden; visibility:hidden;}
.lft{ float:left;}
.rgt{ float:right;}
.clearfix{ overflow:hidden; zoom:1;}

a{
  text-decoration: none;
  color:inherit;
}
.img-responsive{
  width: 100%;
}
.text-center{
  text-align: center
}